<div class="row">
  <div class="col-xs-12">
    <h2>{{updateMode? "Edit":"Add new"}} Recipe</h2>
    <form (ngSubmit)="onSubmit(form)" #form="ngForm">

      <div class="form-group">
        <label for="recipeName">Recipe Name</label>
        <input type="text" class="form-control" id="recipeName" name="recipeName" placeholder="Recipe Name" [ngModel]="newOrUpdatedRecipe.name">
      </div>

      <div class="form-group">
        <label for="recipeDescription">Description</label>
        <textarea class="form-control" id="recipeDescription" name="recipeDescription" rows="3" placeholder="Description" [ngModel]="newOrUpdatedRecipe.description"></textarea>
      </div>

      <div class="form-group">
        <label for="recipeImagePath">Image Url</label>
        <input type="text" class="form-control" id="recipeImagePath" name="recipeImagePath" placeholder="Image Path" [ngModel]="newOrUpdatedRecipe.imagePath">
      </div>
      <hr>
      <div class="row">
        <div class="col-xs-12">
          <form (ngSubmit)="onAddIngredient(ingredientForm)" #ingredientForm="ngForm">
            <div class="row">
              <div class="col-sm-5 form-group">
                <label for="name">Name</label>
                <input
                  type="text"
                  id="name"
                  class="form-control"
                  ngModel
                  name="name"
                  required>
              </div>
              <div class="col-sm-2 form-group">
                <label for="amount">Amount</label>
                <input
                  type="number"
                  id="amount"
                  class="form-control"
                  ngModel
                  name="amount"
                  required
                  pattern="^[1-9]+[0-9]*$">
              </div>
              <div class="col-sm-2 form-group">
                <label for="unit">Unit</label>
                <select id="unit" class="form-control" [ngModel]="this.environment.defaultUnit" name="unit">
                  <option value="piece/s">Piece/s</option>
                  <option *ngFor="let unit of this.environment.unitOptions" value="{{unit.value}}">{{unit.name}}</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <div class="btn-toolbar">
                  <button type="submit" class="btn btn-success" [disabled]="!ingredientForm.valid" >Add</button>
                  <button type="button" class="btn btn-primary" (click)="onClearIngredientForm(ingredientForm)">Clear</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <hr>
      <ul class="list-group">
        <app-shopping-list-item *ngFor="let ingredient of newOrUpdatedRecipe.ingredients" [ingredient]="ingredient"></app-shopping-list-item>
      </ul>
      <button type="submit" class="btn btn-primary">{{updateMode?'Save changes':'Create'}}</button>
    </form>
  </div>
</div>
